.back_log{
	background-image: url("../images/church.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}


body section.login_content a.reset_pass {
	color: #fff;
	text-shadow: none;
}

body section.login_content a.to_register {
	color: #000;
	font-weight: 700;
	text-shadow: none;
	font-size: 14px;
	background-color: #fff;
	padding: 3px;
	border-radius: 7px;
	border: 2px solid #c8c8c8;
}

.btn_editarActivo{
    padding: 3px;
    color: red;
}

.btn_editInactivo{
    padding: 3px;
    color: red;
}

.btn_new{
	background-color: #2e6da4;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
}

.btn_back{
	background-color: #2e6da4;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
}

.img_content{
	background: rgb(127, 12, 4, 0.7);
	background-repeat: no-repeat;
	padding: 20px;
	border-radius: 10px;
}

body.login .login_wrapper .login_form{
	color: #fff;
	text-shadow: none;
}
body.login .login_wrapper .registration_form{
	color: #fff;
	text-shadow: none;
}

div.row div.x_panel div.x_title h2{
	text-align: center;
	float: none;
	padding-bottom: 0px;
}
